@model Portfolio.Models.ConnectMailViewModel
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
@Scripts.Render("~/bundles/quickconnect")
<section class="infoContainer no-padding" id="contact">
    <div class="container">
        <h2>Let's get in Touch</h2>
        <div class="row">
            <div class="col-lg-6 col-sm-12 col-sm-12">
                <h5>Contact Details</h5>
                <ul class="list-unstyled" itemscope itemtype="http://www.abhishekkumarmallick.com/#contact">
                    <li itemprop="skype"><i class="fa fa-skype"></i> Skype: abhi911kumar</li>
                    <li><i class="fa fa-envelope-o"></i> Email: <a href="mailto:connect@abhishekkumarmallick.com" itemprop="email">connect@abhishekkumarmallick.com</a></li>
                    <li><i class="fa fa-globe"></i> Website: <a href="http://www.abhishekkumarmallick.com">www.abhishekkumarmallick.com</a></li>
                </ul>
                <div class="clearfix"></div>
                <hr />
                <div class="clearfix"></div>
                <h5>Social Connect</h5>
                <div>
                    <a href="https://www.facebook.com/abhinnovator/" class="btn btn-default btn-circle" target="_blank"><i class="fa fa-facebook fa-2x"></i></a>
                    <a href="https://twitter.com/abhi911kumar" class="btn btn-default btn-circle" target="_blank"><i class="fa fa-twitter fa-2x"></i></a>
                    <a href="https://in.linkedin.com/in/abhishek-mallick-613a6b21" class="btn btn-default btn-circle" target="_blank"><i class="fa fa-linkedin fa-2x"></i></a>
                    <a href="https://abhishekmallickblog.wordpress.com/" class="btn btn-default btn-circle" target="_blank"><i class="fa fa-wordpress fa-2x"></i></a>
                    <a href="mailto:connect@abhishekkumarmallick.com" class="btn btn-default btn-circle"><i class="fa fa-envelope fa-2x"></i></a>
                </div>
                <div class="clearfix"></div>
                <hr class="light"/>
                <div class="clearfix"></div>
            </div>            
            <div class="col-lg-6 col-sm-12 col-sm-12">
                <h5>Quick Contact Form</h5>

                @using (Ajax.BeginForm(null, null, new AjaxOptions { Url = "/Utility/SendMail", HttpMethod = "POST", OnSuccess = "sentMessage", OnFailure = "exceptionOccur", OnBegin = "$(this).find('button').prop('disabled', true).text('Sending Please Wait !');" }, new { @class = "form-horizontal" }))
                {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.SenderName, new { @class = "form-control", placeholder = "Your Name", autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.SenderName)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            @Html.TextBoxFor(m => m.SenderEmail, new { @class = "form-control", placeholder = "Your Email-Id", autocomplete = "off" })
                            @Html.ValidationMessageFor(m => m.SenderEmail)
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">Message</label>
                        <div class="col-sm-10">
                            @Html.TextAreaFor(m => m.SenderMessage, new { @class = "form-control", placeholder = "Your Message", autocomplete = "off", rows = "10" })
                            @Html.ValidationMessageFor(m => m.SenderMessage)
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-10 col-sm-offset-2">
                            <button type="submit" class="btn btn-primary btn-block btn-sm"> Send</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
